.app {
  font-family: "Lato", sans-serif;
}

progress {
  border-radius: 50px;
  height: 8px
}
progress::-webkit-progress-bar {
  background-color: gainsboro;
  border-radius: 50px;
  height: 8px
}
progress::-webkit-progress-value {
  background-color: #02a95c;
  border-radius: 50px;
  height: 8px
}
